<% include ./partials/header %>
<!-- <script src="../public/functions.js"></script> -->

<div class="container-fluid mt-4">
  <form action="/results" method="GET">
    <div class="row justify-content-center">
      <div class="col-sm-3">
        <label for="InputLocation">Location</label>
        <input type="text" id="InputLocation" class="form-control" name= userRequest[location] placeholder="location">
      </div>
      <div class="col-sm-3">
        <div class="form-group">
            <label for="distance">Distance from location (Miles)</label>
            <select class="form-control" name= userRequest[distance] id="distance">
              <option value= "8047">5</option>
              <option value= "16094">10</option>
              <option value= "24141">15</option>
              <option value= "32187">20</option>
              <option value= "39999">25</option>
            </select>
          </div>
      </div>
      <div class="form-group">
          <label for="priceRange">Price Range</label>
          <select class="form-control" name= userRequest[priceRange] id="priceRange">
            <option value= "1">$</option>
            <option value= "2">$$</option>
            <option value= "3">$$$</option>
            <option value= "4">$$$$</option>
            <option value= "5">$$$$$</option>
          </select>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-3">
          <label for="searchTerm">Seach By</label>
          <input type="text" id="searchTerm" class="form-control" name= userRequest[searchTerm] placeholder="Ex: food/resturants/names">
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col text-center">
            <button type = "submit" class="btn btn-primary">Submit!</button>
          </div>
        </div>
      </div>
  </form>
  <h1><%= messages %></h1>
</div>


 <!-- <a class="btn btn-primary" href="./results" role="button">OwO</a>  -->


<% include ./partials/footer %>
