body {
    background: #1e292e;
    font-family: 'Montserrat', sans-serif;
}

.peopleCarouselImg img {
    width: auto;
    height: 550px;
    max-height: 550px;
}

#github-link
{
    font-size: large;
    /* border-style: solid;
    border-width: 5px;
    color: blue; */
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white_font {
    color: #ffffff;
}

.white_font:hover {
    color: #d11717;
}

.transparent {
    background-color: #00000000 !important;
    border-style: hidden !important;
    border-bottom: 1px solid #5f5f5f !important;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.relative {
    position: relative;
}

.font_size {
    font-size: 3;
    font-size: 3vh;
}


/* 
this is for drop down if we use
[data-toggle="collapse"] i:before{
    content: "\f146";
}

[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
} */

/* .img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
} */


/* a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border: aqua;
    border-style: solid;
} */
