body {
    background: #1e292e;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
h1, h3{
    display:inline;
}

#google_map_holder {
    margin: auto;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.bottom_border {
    border-style: hidden !important;
    border-bottom: 1px solid #5f5f5f !important;
}

.wrap-around {
    overflow-wrap: anywhere !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white_font {
    color: #ffffff;
}

    .white_font:hover {
        color: #d11717;
    }

.transparent {
    background-color: #00000000 !important;
    border-style: hidden !important;
    border-bottom: 1px solid #5f5f5f !important;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.font_size {
    font-size: 3;
    font-size: 3vh;
}