body {
    background: #1e292e;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
h1, h3{
    display:inline;
}

#google_map_holder {
    margin: auto;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.shadow {
    box-shadow: 2px 2px 5px #5b5b5b;
}
